﻿<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Velkommen til eBok!</h2>
            <p>Dette er en applikasjon hvor du kan leie ut bøker elektronisk. Bruk linkene på toppen for å navigere deg rundt på siden.<br />
            Ønsker du å legge til en ny bok i biblioteket, trykk "Registrer bok".<br />
            Ønsker du å se en liste bøker sortert på rangering, trykk "Høyest rangerte bøker".<br />
            Hvis du vil søke blant bøker i biblioteket, trykk "Søk".</p>
            <p class="footer-info">Denne webapplikasjonen er ment som en intervjuoppgave for Knowit og er laget av Andreas Nesheim.</p>
        </div>
    </div>
</div>




