﻿<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Registrer bok</h2>
            <p>Fyll ut alle feltene for å legge til en ny bok i biblioteket.</p>
            <form role="form" name="form">
                <div class="form-group">
                    <label for="title">Tittel</label>
                    <input type="text" class="form-control" ng-model="book.title" name="bName" required>
                </div>
                <div class="form-group">
                    <label for="author">Forfatter</label>
                    <input type="text" class="form-control" ng-model="book.author" required>
                </div>
                <div class="form-group">
                    <label for="price">Pris (NOK)</label>
                    <input type="number" class="form-control" ng-model="book.price" name="bPrice" required>
                    <span class="validation-warning" ng-show="form.bPrice.$error.number">Pris kan kun inneholde tall.</span>
                </div>
                <div class="form-group">
                    <label for="genre">Sjanger</label>
                    <input type="text" class="form-control" ng-model="book.genre" required>
                </div>
                <div class="form-group">
                    <label for="ranking">Rangering (1-6)</label>
                    <input type="number" min="1" max="6" class="form-control" ng-model="book.ranking" name="bRanking" required>
                    <span class="validation-warning" ng-show="form.bRanking.$error.number">Rangering må være et tall.</span>
                    <span class="validation-warning" ng-show="form.bRanking.$error.min || form.bRanking.$error.max">
                        Rangeringen må være et tall mellom 1 og 6.
                    </span>
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="number" class="form-control" ng-model="book.isbn" name="bIsbn" required>
                    <span class="validation-warning" ng-show="form.bIsbn.$error.number">ISBN kan kun inneholde tall.</span>
                </div>
                <button type="submit" ng-click="update(book)" class="btn btn-success" ng-disabled="form.$invalid">Lagre</button>
            </form>
        </div>
    </div>
</div>

