﻿<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Søk</h2>
            <p>
                Her kan du søke blant bøker i biblioteket. Du kan søke på tittel, forfatter og sjanger.<br />
                <strong>NB!</strong> Hvis du vil søke på ISBN-nummer, inkluder alle tallene i ISBN-nummeret.
            </p>
            <input class="form-control" ng-model="query" placeholder="Søk her"><br />
            <table class="table table-striped" ng-show="query.length > 2">
                <thead>
                    <tr>
                        <th>Rangering (1-6)</th>
                        <th>Tittel</th>
                        <th>Forfatter</th>
                        <th>Sjanger</th>
                        <th>Utlånsstatus</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in books | filter:search | filter:searchLength">
                        <td>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 1"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 2"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 3"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 4"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 5"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 6"></span>
                        </td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.genre}}</td>
                        <td class="{{book.isBorrowed | availability}}">{{book.isBorrowed | availableText}}</td>
                        <td><a href="#books/{{book.isbn}}">Detaljer</a></td>
                    </tr>
                </tbody>
            </table>
            <p ng-show="(books | filter:search).length == 0">Ingen treff.</p>
        </div>
    </div>
</div>
